.user-inf{
  margin: 20px;
  font-family: "Pacifico", cursive;
}

.border-users{
    color: black;
    background-color: #ffffffec; 
    border: 1px solid #000000; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 

    font-size: 17px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.801); /* Shadow effect */
}

.search {
  font-family: 'Pacifico', cursive;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  background-color: rgba(141, 106, 243, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.479);
  margin: 15px;
  border: none;
  transition: all 0.3s ease-out;
  width: 250px;
  color: #000000;
}

.search:focus {
  box-shadow: 0 0 10px rgb(26, 9, 41);
  width: 300px;
}

#btn-search {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: #9ba9ff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#btn-search:hover {
  background-color: #8ec5ff;
  color: #fff;
}

#btn-search:active {
  background-color: #06305e;
}

