.prpfile-container {
    display: flex;
    flex-direction: row;
    /* changed from column to row */
    justify-content: center;
    align-items: center;
}

.img-view {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 50px;
    border: solid 2px #000000;
}

.profile-info {
    margin-left: 20px;
    margin-bottom: 55px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.button-profile {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    
}