 /* .header-class{
   padding-top: 60px;
  font-size: 27px;
  background-color: aquamarine;
} */

 .home {

   position: relative;
   left: 70px;
   top: 10px;
   font-size: large;

 }

 .register {
   position: relative;
   left: 1100px;
   top: 10px;
   font-size: large;
   border: 2px solid black;
   padding: 10px;
 }

 .login {
   position: relative;
   left: 1115px;
   top: 10px;
   font-size: large;
   border: 2px solid black;
   padding: 10px;
 }

 .admin {
   position: relative;
   left: 100px;
   top: 10px;
   font-size: large;
 }

 .create-post {
   position: relative;
   left: 130px;
   top: 10px;
   font-size: large;

 }


 .user {
   position: relative;
   top: 10px;
   left: 920px;
   font-size: large;
 }

 #logout-button {
   position: relative;
   left: 960px;
   font-size: large;
   top: 10px;
 }



 .category {
   display: inline-flex;
   flex-direction: column;
   gap: 10px;

   background-color: rgba(255, 255, 255, 0.603);
   position: fixed;
   left: 10px;
   top: 100px;
   bottom: 0;
   padding: 30px;
   margin-top: 20px;
 }

#logout-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
 }
 
#logout-button{
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #f0fffe;
  border: 2px solid #858bb1;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
#logout-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c4f1f9;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #858ab1;
  /* box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; */
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
#logout-button:hover {
  background: #e9faff;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
#logout-button:hover::before {
  -webkit-box-shadow: 0 0 0 2px #85a6b1, 0 0.5em 0 0 #e2fcff;
  box-shadow: 0 0 0 2px #858fb1;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
#logout-button:active {
  background: #e9f7ff;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 #logout-button:active::before {
  -webkit-box-shadow: 0 0 0 2px #8595b1, 0 0 #e2ffff;
  box-shadow: 0 0 0 2px #858fb1, 0 0 #e2fcff;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }