/* .header-class{
   padding-top: 60px;
  font-size: 27px;
  background-color: aquamarine;
}

.home{
position: relative;
left: 10px;

}

.register{
position: relative;
left: 1340px;
}

.login{
    position: relative;
left: 1170px;
}

.search{
    position: relative;
left: 600px;
font-size: large;
}


.category {
    display: inline-flex;
    flex-direction: column;
    background-color: aqua;
    position: absolute;
    left: 10px;
    top: 100px;
    bottom: 0;
    padding: 30px;
    margin-top: 20px;
  } */