.search-view {
  font-family: 'Pacifico', cursive;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  background-color: rgba(141, 106, 243, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.479);
  margin: 15px;
  border: none;
  transition: all 0.3s ease-out;
  width: 250px;
  color: #000000;
}

.search-view:focus {
  box-shadow: 0 0 10px rgb(26, 9, 41);
  width: 300px;
}

h1 {
  margin-left: 30px;
}

.search-label {
  margin-left: 270px;
  font-family: Pacifico, cursive;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  font-size: 25px;
}


#drop-down {
  display: flex;
  font-family: Pacifico, cursive;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  outline: none;
  margin: 3px;
  margin-left: 570px;
}