.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.information {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  /* optional, aligns items vertically in the center */
}

.img-post {
  width: 600px;
  height: 600px;
  margin-left: 230px;

}


.border {
  color: black;
  background-color: #fffffff7;
  border: 2px solid #0e0e0e;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.498);
  margin-left: 200px;
  margin-top: 15px;
  margin-bottom: 5px;
}


#delete{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff00;
  color: rgb(10, 2, 2);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}


#edit-button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 20px;
}

#edit-button:hover {
  background-color: white;
  color: black;
}

#link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #a4d0ff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 3px;
}

#link:hover {
  background-color: #cfe6ff;
}

#link:active {
  background-color: #4c0065;
}