.search-view{
    font-family: Pacifico, cursive;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    background-color: rgba(216, 187, 241, 0.71);
    margin-left:50px;
    padding-left: 100px;
    padding-right: 100px;
    /* margin-right:250px; */

}

h1{
    margin-left: 150px;
}
.search-label{
    margin-left:350px;
        font-family: Pacifico, cursive;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        outline: none;    
        font-size: 25px; 
}

#drop-down{
  
    font-family: Pacifico, cursive;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    margin: 3px;
    /* background-image: linear-gradient(144deg, #8defcd, #6fd6f0 50%, #aa84e4); */
    margin-left: 900px;
}